/* Clear Floated Elements */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}


/**** HTML ****/
body {
	background: #EEE;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
}
p {
	margin-bottom: 1em;
}
a {
	color: #39F;
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: none;
	-moz-text-decoration-style: solid;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
}
a:hover {
	text-decoration: none;
}
/* this avoids having image replacement sections display a dotted outline */
a:focus {
	outline-style: none;
}
a img {
	border: 0;
}
h1 {
	font-size: 32px;
	margin-bottom: 3px;
}
h2 {
	font-size: 24px;
	margin-bottom: 24px;
	padding-bottom: 6px;
	border-bottom: #ddd solid 1px;
}
h3 {
	font-size: 18px;
	padding-bottom: 12px;
}
hr {
	border: 0;
	border-top: 1px solid #222;
	height: 1px;
}
ul {
	list-style-position: outside;
	margin-left: 0px;
	margin-bottom: 1em;
}
table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}
input, select {
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
}
input.text {
}
.float-left {
	float: left;
	margin: 0 10px;
}

/**** GUI ****/

body {
    padding-top: 50px;
}

/**** NAVBAR ****/

.navbar {
    background-color: #428bca;
    border: 0 none;
    color: #fff;
    padding-left: 10px;
    padding-right: 25px;
}
@media print {
.navbar {
		display: none !important;
}
}
.navbar-header {
		width: 200px;
}
.navbar-brand {
    background: url("../images/logo.png") no-repeat scroll 0 0;
    width: 137px;
    height: 23px;
		display: block;
		margin: 12px 6px;
		padding: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #609dd2;
    color: #fff;
}


/**** SIDEBAR ****/

.sidebar {
    background-color: #222;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    display: block;
    padding: 20px;
    z-index: 1000;
		width: 210px;
}
@media print {
.sidebar {
		display: none !important;
}
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
}
.nav-sidebar > li > a {
    color: #fff;
    display: block;
    padding: 14px 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    white-space: nowrap;
}
.nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus,
.nav-sidebar .open > a, .nav-sidebar .open > a:hover, .nav-sidebar .open > a:focus {
		background-color: #000;
}
.nav-sidebar .dropdown-menu {
    position: static;
    float: none;
    background-color: #000;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
		min-width: 155px;
		padding-bottom: 10px;
    font-size: inherit;
    box-shadow: none;
}
.nav-sidebar .dropdown-menu > li > a {
    color: #ddd;
    padding: 3px 15px 3px 20px;
}
.nav-sidebar .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #222;
		color: #ddd;
}
.nav-sidebar > li > a > i {
    margin-right: 6px;
    text-align: center;
    width: 20px;
}
.nav-sidebar > li > a > .arrow {
    display: block;
    font-size: 18px;
    height: 14px;
    line-height: 14px;
    padding: 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-shadow: none;
    top: 12px;
    width: 14px !important;
}
.sidebar .collapse-button {
    bottom: 0;
    position: fixed;
    width: 170px;
    margin-bottom: 20px;
}
.sidebar .collapse-button button, .sidebar .collapse-button button:focus {
    background: none repeat scroll 0 0 transparent;
    border: #333 solid 1px;
    border-radius: 0;
    margin: 0 !important;
		padding: 2px 0;
		text-align: center;
		font-size: 18px;
		width: 33px;
		color: #fff;
		outline: none;
}

.sidebar-collapsed .sidebar {
    width: 55px;
}
.sidebar-collapsed .nav-sidebar > li > a {
    text-align: center;
}
.sidebar-collapsed .nav-sidebar > li > a > i {
    margin-right: 0;
    text-align: center;
		font-size: 18px;
    width: 20px;
}
.sidebar-collapsed .nav-sidebar > li > a > span, .sidebar-collapsed .nav-sidebar > li > a > .arrow {
    display: none;
}
.sidebar-collapsed .nav-sidebar .dropdown-menu {
    position: absolute;
    float: none;
    background-color: #000;
    background-clip: border-box;
    border: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
		padding-top: 10px;
		padding-bottom: 10px;
    font-size: inherit;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    left: 100%;
    top: 0;
}
.sidebar-collapsed .collapse-button {
    width: 35px;
		margin-left: -10px;
}

.back-to-top {
    background-color: #222;
		display: none;
		padding: 7px 0;
		text-align: center;
		font-size: 18px;
		width: 35px;
		color: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
		text-decoration: none;
}
.back-to-top:hover, .back-to-top:focus {
		color: #fff;
		text-decoration: none;
}


/**** MAIN ****/

.main {
    padding: 0;
		margin-left: 210px;
}
.sidebar-collapsed .main {
		margin-left: 55px;
}
@media print {
.main {
		margin-left: 0 !important;
}
}
.main-header {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 25px;
    position: relative;
}
.main-content {
    color: inherit;
    margin-top: 0;
    padding: 15px 30px 30px;
}
.main-content-block {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e6e6e6;
    border-radius: 3px;
    border-right: 1px solid #e6e6e6;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin-bottom: 30px;
}
.no-padding {
  padding: 0;
}
.main-content-tab {
    margin-bottom: 30px;
}

/**** DASHBOARD ****/
.succes-color {
	color: #428bca;
}
.warning-color {
	color: #FF9400;
}
.info-color{
	color: #FFC000;
}
.default-color{
 color: #0B5FA5;
}
/*540EAD - FFE900*/
.panel {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
	margin-bottom: 20px;
}
.panel ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
	padding: 6px 0;
}
.panel-body {
	padding: 15px;
}
.panel-solid {
	background: #428bca;
}
.panel-general span {
	color: #ccc;
	font-weight: bold;
}
.panel-heading {
	background: none repeat scroll 0 0 #fff;
  border-color: #eff2f7;
  color: #767676;
  padding: 15px 10px;

}
.panel-heading h3 {
	margin-bottom: 0;
  margin-top: 0;
	padding-bottom: 0;
}
p.top23 {
	margin-top: 23px;
}
.panel .total {
	display: block;
	font-size: 2em;
	line-height: 1.6em;
	font-weight: 300;
	color: #222;
}
.panel .total .percentage {
	color: #ccc;
	font-size: 0.6em;
	line-height: 1.6em;
}
.panel .title {
	display: block;
  font-size: 1.2em;
	line-height: 1em;
	color: #222;
	font-weight: bold;
}
.panel-solid .total, .panel-solid .total .percentage, .panel-solid .title {
	color: #fff;
}
@media print {
.panel-solid .total, .panel-solid .total .percentage, .panel-solid .title {
	color: inherit !important;
}
}
.chart {
  height: 207px;
}
.chart.large {
  height: auto;
}
.chart ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.chart ul li {
	font-size: 0.8em;
}
.chart ul li span {
  font-size: 1.4em;
}
.chart ul li span span.percentage {
	color: #ccc;
	font-size: 0.8em;
	line-height: 1.6em;
}
.chart ul li i {
	font-size: 0.625em;
	margin: 0 5px 0 0;
	vertical-align: middle;
}
#doughnut-canvas-holder {
	max-width: 180px;
	min-width: 80px;
	margin: 0 auto;
}

.progress {
	box-shadow: none;
}
.progress-bar-success {
  background-color: #428bca;
}
.progress-bar-warning {
  background-color: #ff9400;
}
.progress .value {
	font-size: 12px;
  line-height: 20px;
	margin-left: 4px;
}
.progress span span.percentage {
		color: #999;
}
@media print {
.progress-bar {
  width: 0 !important;
}
.progress .value {
	margin-left: 0;
}
}

/**** DEALERS ****/
#dealermap {
  height: 700px;
  width: 100%;
}

.filter {
  margin-bottom: 24px;
}
.filter a {
  margin-left: 10px;
}
.filter select, .filter label, .filter input {
  width: auto;
  margin-bottom: 0;
}
.filter label {
  border: none;
  box-shadow: none;
}
.filter .left {
  display: inline-block;
}
.filter .right {
  margin-top:0;
  color: #DDD;
}
.filter .panel-heading {
  cursor: pointer;
}
.filter.up .panel-heading {
  border-radius: 3px;
  border-bottom: none;
}
.filter.up .panel-body {
  display: none;
}
.condition {
  display: inline-block;
  margin-bottom: 15px;
}
.condition:first-child label:first-child {
  display: none;
}


/**** TABS ****/

.nav-tabs {
    margin-left: 0;
}
.nav-tabs > li > a  {
		color: #222;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:active {
		color: #2a6496;
		background: transparent;
		border-color: transparent;
}
.tab-content {
    padding: 15px 0 0 0;
}

.main-content-tab > .tab-content {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e6e6e6;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-right: 1px solid #e6e6e6;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
    padding: 20px;
}

.main-content-tab > .nav-tabs {
    border-bottom: 1px solid transparent;
}
.main-content-tab > .nav-tabs > li.active {
    position: relative;
}
.main-content-tab > .nav-tabs > li {
    margin-right: 2px;
}
.main-content-tab > .nav-tabs > li > a {
    color: #39f;
    margin-right: 0;
    min-width: 80px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    text-align: center;
}
.main-content-tab > .nav-tabs > li > a:hover,
.main-content-tab > .nav-tabs > li > a:active {
    color: #2a6496;
		border-bottom-color: transparent;
}
.main-content-tab > .nav-tabs > li.active > a,
.main-content-tab > .nav-tabs > li.active > a:hover,
.main-content-tab > .nav-tabs > li.active > a:focus {
    color: #222;
    border-bottom: none;
    border-left: #e6e6e6 solid 1px;
    border-right: #e6e6e6 solid 1px;
    border-top: none;
    box-shadow: 1px -3px 4px -3px rgba(0, 0, 0, 0.08);
    padding-bottom: 10px;
    padding-top: 10px;
    position: static;
}


/**** BREADCRUMB ****/

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    list-style: none outside none;
    margin-bottom: 0;
    padding: 6px 0;
}
@media print {
.breadcrumb {
		display: none !important;
}
}

/**** BUTTONS ****/

.btnbar {
}
.btnbar-right {
	text-align: right;
}

/**** DATEPICKER ****/
.startdate, .enddate {
  display: none;
}
.startdate.active, .enddate.active {
  display: block;
}

.form-horizontal {
	float: right;
	display: inline-table;
	margin: 5px 0 0;
	clear: right;
}
.fullwidth {
	width: 100%;
}
.right {
	margin-top: 5px;
	float: right;
	clear: right;
}

/**** OVERVIEW ****/
.edit {
  margin-top: 45px;
}
.edit p {
  font-size: 13px;
  color: #999;
  margin-bottom: 0;
}
.edit p.title {
  font-weight: bold;
  font-style: normal;
  color: #222;
}
/**** DATATABLES ****/

#analytics .google-visualization-table {
  display: block;
}
table.dataTable, #analytics table {
    border-collapse: collapse !important;
		width: 100% !important;
}
#analytics table {
  border: 1px solid #ddd;
}
#analytics table tr {
	background-color: #fff;
}
#analytics table th, #analytics table td {
	border: 1px solid #ddd;
}
table.dataTable > tbody > tr:nth-child(2n+1) > td, table.dataTable > tbody > tr:nth-child(2n+1) > th, #analytics table > tbody > tr:nth-child(2n+1), #analytics table > tbody > tr:nth-child(2n+1){
    background-color: #f9f9f9;
}
table.dataTable thead th, table.dataTable thead td, #analytics table thead th, #analytics table thead td {
    border-bottom: #ccc solid 1px !important;
    padding-bottom: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px;
}
table.dataTable tbody th, table.dataTable tbody td, #analytics table tbody th, #analytics table tbody td {
    padding-bottom: 6px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px !important;
}
table.dataTable tbody form {
    white-space: nowrap;
}
table.dataTable thead th:last-child, table.dataTable thead td:last-child {
    width: 120px !important;
}
.dataTables_filter, .dataTables_filter label {
	width: 100% !important;
	text-align: right;
}
.dataTables_filter input {
	width: 75% !important;
}
table.table-bordered tbody .ui-sortable-helper td {
    border: #ccc solid 1px !important;
}


/**** PAGING ****/

/**** PAGETREE ****/
#pages ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#pages ul.country {
  margin-bottom: 15px;
}
#pages ul.country > li {
  border: 1px solid #ddd;
  border-radius: 1px;
}
#pages ul.country > li span {
  padding: 10px;
  width: 100%;
  display: block;
  cursor: pointer;
}
#pages ul.country > li span i {
  float: right;
  color: #ddd;
}
#pages ul.division {
  display: none;
}
#pages ul.division.active {
  display: block;
}
#pages ul.division > li span {
  padding: 0 20px;
  display: block;
  width: 100%;
  background: #eee;
}
#pages ul.sector > li {
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
}
#pages ul.sector > li span {
  background: #fafafa;
  padding: 0 30px;
  width: 100%;
}
#pages ul.subsector li {
  display: inline-block;
}
#pages ul.subsector > li  span {
  background: #FFF;
  padding: 0 0 0 40px;
}
#pages ul.subsector > li  span label {
  font-weight:  normal;
}

/**** FORM ****/

label {
    font-size: 13px;
		font-weight: bold;
		margin-bottom: 7px;
}
.form-control {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    font-size: 12px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
}
.form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.input-group .btn {
    box-shadow: none;
    line-height: 20px;
    margin-bottom: 0 !important;
    margin-left: -1px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 6px;
    padding-top: 6px;
}

.checkbox {
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 13px; margin-right:10px; line-height:18px;
	padding-right: 35px;
	padding-left: 0px;
}
input[type=checkbox].form-checkbox {
	display:none;
}
.checkbox::before {
	background-color: transparent;
	border: 1px solid #c3cedb;
	border-radius: 2px;
	content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	right: 3px;
	position: absolute;
	top: 0;
}
.checkbox:hover:not(.disabled)::after, .checkbox.active::after {
	border-bottom: 2.5px solid #515151;
	border-left: 2.5px solid #515151;
	content: "";
	height: 8px;
	transform: rotate(-45deg);
	width: 13px;
	right: 7px;
	position: absolute;
	top: 4px;
}
.checkbox:hover:not(.active)::after {
  opacity: 0.3;
}
.checkbox:hover:not(.disabled)::before {
  border-color: #54abd9;
}
.checkbox.active::after, .checkbox.active:hover::after {
  border-color: #fff;
}
.checkbox.active::before {
  background-color: #5fa2dd;
  border-color: #5fa2dd;
}

.checkbox-group {
	float: left;
	border: 1px solid #ddd;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	font-size: 12px;
	padding: 0px 6px;
}
.period-group .checkbox-group {
	border-right: none;
}
.period-group .checkbox-group:last-child {
	border-right: 1px solid #ccc;
}
.label-group {
	border: 1px solid #ddd;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin: 0 15px 30px;
	float: left;
}
.label-group .checkbox {
	width: 200px;
	text-align: center;
	padding-left: 35px;
}
.label-group .checkbox img {
  height: 100%;
}
.marginright {
	margin-right: 30px;
}
/*

*/


/**** FOOTER ****/
